@tailwind base;
@tailwind components;
@tailwind utilities;

/************************/
/* body */
/************************/

body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

/* page transition */

.page-transition {
  @apply -translate-x-10 bg-black opacity-0 blur-lg;
}
