@tailwind base;
@tailwind components;
@tailwind utilities;

/************************/
/* body */
/************************/

.slide-in, .slide-out {
  @apply scale-y-0 transition-all duration-700;
}

.animate--slide-in .slide-in,
.animate--slide-out .slide-out {
  @apply scale-y-100
}

/************************/
/* inputs */
/************************/

input:active,
input:focus {
  outline: 0;
}

/************************/
/* password */
/************************/

.password-toggle::before {
  content: '';
  @apply w-8 h-[2px] rounded-full bg-black dark:bg-white -rotate-45 absolute top-3 -right-1 scale-x-0 transition-all duration-300;
}

.password-toggle.view::before {
  @apply scale-x-100;
}