/************************/
/* password */
/************************/

.password-toggle::before {
  content: "";
  @apply w-8 h-[2px] rounded-full bg-black dark:bg-white -rotate-45 absolute  -right-0 scale-x-0 transition-all duration-300 origin-right;
}

.password-toggle.view::before {
  @apply scale-x-100;
}

/*************************/
/* loaders */
/*************************/

/* three dots */

.three-dots div:nth-child(2) {
  animation-delay: 0.3s;
}

.three-dots div:nth-child(3) {
  animation-delay: 0.6s;
}

/*************************/
/* toggle theme btn */
/*************************/

.slider.dark {
  @apply translate-x-8 bg-transparent;
  box-shadow: inset 8px -4px 0px 0px rgb(229, 231, 235);
}


/*************************/
/* animate in */
/*************************/

.animate-in {
  animation: animate-in 0.5s;
}

@keyframes animate-in {
  0% {
    top: -100px;
    left: -60px;
    scale: 0;
  }
  
  100% {
    scale: 1;
    left: 15px;
  }
}