@tailwind base;
@tailwind components;
@tailwind utilities;

/************************/
/* globals */
/************************/

/* inputs */

input:active,
input:focus,
textarea:active,
textarea:focus {
  outline: 0;
}

/* scrollbar */

/* firebox based browsers */

@supports not selector(::-webkit-scrollbar) {
  html * {
    scrollbar-color: #d1d5db transparent;
    scrollbar-width: thin;
  }

  html.dark * {
    scrollbar-color: #3f3f46 transparent;
  }
}

/* chromium based browsers */

*::-webkit-scrollbar {
  width: 4px;
}

html *::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full
}

html.dark *::-webkit-scrollbar-thumb {
  @apply bg-zinc-700;
}